extends layout
block content
    h1=title
    div.cards
        each category in categories 
            div.category-card
                h2 #{category.name}
                p #{category.description}