extends layout 

block content 
    h1=title 
    div.cards
        div.card
            form(action="" method="post")

                h2 Are you sure you want to delete ?
                div.delete-container
                    button(type="submit" class="submit-button") Yes
                    a(href=`/sushi/${sushi.id}`) No take me back

    

     

