extends layout 

block content 
    h1=title 
    
    form(action="" method="post")
        h2 are you sure you want to delete ?
        button(type="submit") Yes
        a(href=`/sushi/${sushi.id}`) No take me back

    

     

