extends layout 

block content
    h1 All sushi
    div(class="cards")
      each sushi in sushi_list
        div.card
          h2
            a(href=sushi.url) #{sushi.name}
          p ¥#{sushi.price}
          
  
      else
        li There are no Sushi.


